---
---

<div class="mt-4 max-w-3xl">
  <p class="mb-2 text-sm opacity-80">
    BYOB is a series of motion picture exhibitions that take place for one night in various locations around the world. Artists will bring the projector/beamer to display their works along with others filled in the space to create the visual together.
  </p>
  
  <p class="mb-4 mt-4">
    BYOB was originally started by Rafaël Rozendaal in Berlin, Germany, in 2010. This event showcasing moving images has been expanded by individuals interested in motion media in many countries, such as Amsterdam, Los Angeles, Melbourne, and Taipei. The open invitation invites visual artists and creators to showcase their work, exploring new possibilities in presenting images through projection.
  </p>
</div>

