---
import { linkInstagramMentions } from "../../utils/instagramMentions";

const text1 = linkInstagramMentions("At @bartemp.bkk for @nonnonnon_bangkok<br />Mutant Club, 3rd Oct.");
const text2 = linkInstagramMentions("Thank you so much @maehappyair @nonnonnon_bangkok");
const text3 = linkInstagramMentions("<strong>Special thank</strong> @krung_khet for helping me setup the sound and test the website");
const text4 = linkInstagramMentions("<strong>Special thank</strong> @pin_natthamon for the clips");
---

<div class="mt-4 max-w-3xl">
  <p class="mb-2 text-sm opacity-80" set:html={text1}></p>
  
  <p class="mb-4 mt-4">
    I asked the audiences to scan the QR Code to open my website that made their phones a strobe. The website would ask for the permission to control the phone camera, and then control the phone flashlight. The Strobe would randomly change the BPM between 120 to 500.
  </p>
  
  <p class="mb-4">
    Before and late in my set, I would beg the audiences to give me some more light as an inspiration (- as a spotlight) and in exchange, I would continue to give them my sound back.
  </p>
  
  <div class="mt-6 pt-4 border-t border-gray-700">
    <p class="text-sm mb-2" set:html={text2}></p>
    
    <p class="text-sm mb-2">Thank you all audiences (and folks who help gimme some lights)</p>
    
    <p class="text-sm mb-2" set:html={text3}></p>
    
    <p class="text-sm" set:html={text4}></p>
  </div>
</div>

