---
import { linkInstagramMentions } from "../../utils/instagramMentions";

const text1 = linkInstagramMentions("LiveCoding AudioVisual duo with @pasuthh at Unfest2025 (22 Fev 2025)<br />as part of @corneacochlearclub for @unfest26 (@unformatstudio) along with many live coders friend");
const text2 = linkInstagramMentions("Lighting by @korborvor_visual_label");
const text3 = linkInstagramMentions("photos by @pxwxriz<br />@unformatstudio");
const text4 = linkInstagramMentions("<strong>special thanks</strong><br />@nowheredweller<br />@lebactan<br />@renickbell<br />@pipechch<br />@kobored<br />@anv_50hz<br />@varut_o<br />@kijjaz<br />@unformatstudio<br />@pppppppeeeeeeaaaaarrrryyype");
---

<div class="mt-4 max-w-3xl">
  <p class="mb-2 text-sm opacity-80" set:html={text1}></p>
  
  <p class="mb-4 mt-4">
    I use TidalCycles, while Pasuth works with Unreal Engine and Resolume. This performance is also my first time experimenting more deeply with cinematic sound, and it marks the beginning of my exploration into sound design.
  </p>
  
  <p class="mb-4 text-sm opacity-80" set:html={text2}></p>
  
  <p class="mb-4 text-sm opacity-80" set:html={text3}></p>
  
  <div class="mt-6 pt-4 border-t border-gray-700">
    <p class="text-sm" set:html={text4}></p>
  </div>
</div>

