---
import { linkInstagramMentions } from "../../utils/instagramMentions";

const text1 = linkInstagramMentions("WrappedByte (TH) (@wrappedbyte) x Jo Ngo (VIE) (@jodeyiam) presents \"From Scratch: Wandering in the Street.\"<br />as a part of the \"From Scratch Live Coding From Scratch\" series.");
const text2 = linkInstagramMentions("<strong>special thanks:</strong><br />@lebactan<br />@jodeyiam<br />@renickbell<br />@vietnam_media_lab<br />@rmitvnscd");
---

<div class="mt-4 max-w-3xl">
  <p class="mb-2 text-sm opacity-80">
    on 6 July 2025<br />
    at Nina Next Space, HCMC, Vietnam
  </p>
  
  <p class="mb-4 mt-4" set:html={text1}></p>
  
  <p class="mb-4">
    The performance begins from a blank editor screen and gradually builds into a full audiovisual piece. It plays on the phrase "from scratch," meaning to start from nothing, to scratch objects into existence, and to DJ scratch sounds live. Like wandering a street at night, the audience suddenly notices objects emerging from the dark. Each is created through code and sound, appearing both visually and sonically. The work explores improvisation and the creative process, showing how meaning and atmosphere can develop unexpectedly from silence and emptiness, one scratch at a time.
  </p>
  
  <p class="mb-4">
    This time I used different sandpapers to scratch on the brick and the chair. I also used my nail to scratch on the mic and the chair as well.
  </p>
  
  <p class="mb-4 text-sm opacity-80">
    P.S. Last pic marks the end of the tour, as I would need new sandpaper for the next show
  </p>
  
  <div class="mt-6 pt-4 border-t border-gray-700">
    <p class="text-sm" set:html={text2}></p>
  </div>
</div>

