---
import Layout from "../layouts/Layout.astro"
const allPosts = await Astro.glob("../pages/posts/*.md")
---

<Layout title="Wasawat Somno's blog">
  <div class="text-white px-6 py-12 font-mono">
    <h1 class="text-3xl">Blogs</h1>
    <div class="mt-4">
      {
        allPosts.map((post) => (
          <ul class="cursor-pointer hover:underline">
            <a href={post.url}>{post.frontmatter.title}</a>
          </ul>
        ))
      }
    </div>
  </div>
</Layout>
