---
import Layout from "../layouts/layout.astro"
const allPosts = await Astro.glob("./blog/posts/*.md")
---

<Layout title="Wasawat Somno's blog">
  <div class="text-white px-8 py-8 font-mono">
    <h1 class="text-3xl">Blogs</h1>
    <div class="mt-4">
      {
        allPosts.map((post) => (
          <ul class="cursor-pointer hover:underline">
            <a href={post.url}>{post.frontmatter.title}</a>
          </ul>
        ))
      }
    </div>
  </div>
</Layout>
