---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Wasawat Somno's site">
  <div id="root"></div>
</Layout>

<script>
import { render } from "../layouts/ThreeLayout.jsx"

render()
</script>
