---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Wasawat Somno's site">
  <div class="w-full h-full fixed z-0" id="root"></div>
  <a href="/tech-radar">
    <div class="fixed bottom-8 right-8 rounded-[50%] border-[1px] border-white w-40 h-12 cursor-pointer pt-3 text-center hover:shadow-yellow-200 hover:shadow-2xl">
      <p class="font-mono font-light text-xs"> /tech_radar </p>
    </div>
</a>
</Layout>

<script>
  import { render } from "../layouts/ThreeLayout.jsx"

  render()
</script>
