---
import Layout from "../layouts/layout.astro"
---

<Layout title="side project">
    <div class="flex flex-row justify-center w-full h-full fixed">
        <div class="flex flex-col self-center -mt-12">
            <h1 class="text-3xl font-mono"> This page is under construction</h1>
        </div>
    </div>
</Layout>
